.flows_hle0193.json.backup
[{"id":"bff26f07.03ca68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bdd11b6c.b54a8","type":"uibuilder","z":"bff26f07.03ca68","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"blank","showfolder":false,"useSecurity":false,"sessionLength":432000,"tokenAutoExtend":false,"reload":false,"x":440,"y":100,"wires":[["95a60066.63d348"],[]]},{"id":"95a60066.63d348","type":"debug","z":"bff26f07.03ca68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"6d71b0c7.2a6bf","type":"inject","z":"bff26f07.03ca68","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello QML!","payloadType":"str","x":260,"y":100,"wires":[["bdd11b6c.b54a8"]]}]